<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据一览</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/dashboard.css" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #DFE6C7;
        }


        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }
    </style>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company
        name</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>-->
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="background-color: #343A40">

                <ul id="list" class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;margin-top: 4px" href="#">
                            <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>-->
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">

                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">

                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">

                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">

                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white" href="#">

                            Integrations
                        </a>
                    </li>
                </ul>

                </ul>
            </div>
        </nav>
    </div>
</div>

<!--<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">-->
<div class=" col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div id="main1" style="width: 1100px;height:400px;"></div>
    <div id="main2" style="width: 1100px;height:400px;"></div>
    <div id="main3" style="width: 1100px;height:400px;"></div>
</div>
<!--</main>-->


<script type="text/javascript" src=" js/jquery.min.js"></script>
<script type="text/javascript" src=" js/popper.min.js"></script>
<script type="text/javascript" src=" js/bootstrap.min.js"></script>
<script src=" js/echarts.min.js"></script>
<script src=" js/axios.min.js"></script>
<script src=" js/vue.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main1'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var myChart3 = echarts.init(document.getElementById('main3'));

    // 指定图表的配置项和数据
    var data1 = [11, 23, 41, 63, 21];
    var data2 = [23, 14, 22, 52, 53];
    var data3 = [32, 33, 41, 22, 51];
    var data = [1, 2, 3, 4, 5];

    var i = 1;


    option = {
        animation: false,
        legend: {
            data: ['scatter', 'scatter2', 'scatter3']
        },
        title: {
            text: '温度'
        },
        tooltip: {},
        xAxis: {
            type: 'value',
            min: 'dataMin',
            max: 'dataMax',
            splitLine: {
                show: true
            }
        },
        yAxis: {
            type: 'value',
            min: 'dataMin',
            max: 'dataMax',
            splitLine: {
                show: true
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 1,
                end: 35
            },
            {
                type: 'slider',
                show: true,
                yAxisIndex: [0],
                left: '93%',
                start: 29,
                end: 36
            },
            {
                type: 'inside',
                xAxisIndex: [0],
                start: 1,
                end: 35
            },
            {
                type: 'inside',
                yAxisIndex: [0],
                start: 29,
                end: 36
            }
        ],
        series: [
            {
                name: 'scatter',
                type: 'line',

                data: data1
            },
            {
                name: 'scatter2',
                type: 'line',

                data: data2
            },
            {
                name: 'scatter3',
                type: 'line',
                data: data3
            }
        ]
    };

    function addData() {
        data1.push(Math.random() * 20);
        data2.push(Math.random() * 50);
        data3.push(Math.random() * 30);
        data.push(i + 6);
        i++;
    }

    setInterval(function () {
        addData();
        option1 = {
            xAxis: {
                data: data
            },
            series: [
                {
                    name: 'scatter',
                    type: 'line',

                    data: data1
                },
                {
                    name: 'scatter2',
                    type: 'line',

                    data: data2
                },
                {
                    name: 'scatter3',
                    type: 'line',
                    data: data3
                }
            ]
        };
        myChart1.setOption(option1);
        myChart2.setOption(option1);
        myChart3.setOption(option1);
    }, 1000);
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option);
    myChart2.setOption(option);
    myChart3.setOption(option);
</script>
</body>

</html>